<html>
    <head>
        <style>
            body {
                color: #1F497D;
                font-family: Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <p>Hello {managerName},</p>
        <p>The subordinate(s) {userNames} have project memberships pending for your approval.</p>
        <p>Please use <a href="{applicationLink}">the link</a> to approve the project memberships.</p>
        <p>
            Best regards,<br/>
            SKOOP team.
        </p>
    </body>
</html>
